* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  color: #22313f;
}

h1, h2{
  font-family: 'Waltograph';
  font-size: 40px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color:  #22313f;
}

body {
  display: flex;
  line-height: 1.2em;
  height: 700px;
  background-image: url('backgroundImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;

}

button:hover, button:focus {
  cursor: pointer;
  background-color: rgb(192, 171, 216);
}
button:focus{
  background-color: rgb(192, 171, 216);
}

button,
#ans {
  padding: 10px;
}

input[type="radio"]:hover, input[type="radio"]:focus {
  cursor: pointer;
}

#form-group:focus {

  background-color: rgb(192, 171, 216);
}

.title {
  text-align: center;
  margin: auto;
}

/* #ans:hover, #ans:focus  {
  cursor: pointer;
  background-color: rgb(192, 171, 216);
} */


.app {
  width: 70%;
  padding: 10px;
  overflow: auto;
  margin: auto;
  background:
    linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  color: rgb(25, 19, 10);
  /* font-weight: bold; */
  font-size: 18px;
  background-size: cover;
  text-shadow: #e8e2e2;
  flex-wrap: wrap;
}

fieldset {
  border: 0;
}

ul {
  list-style: none;
}

header {
  display: flex;
  margin: auto;
  color: black;
  padding: 5px 10px;
  font-size: 16px;

}

footer {
  color: #ffffff;
  padding: 5px 10px;
  color: black;
}


.Result {
  font-size: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
